{
    "dev": false,
    "token": "",
    "deploy": {
        "clientId": "",
        "guildId": ""
    },
    "response_reaction": "🍉",
    "disabled_cat": {},
    "games": {
        "counting": {
            "channel": ""
        },
        "main": {
            "channel": ""
        }
    }
}
